@*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VNSHOP</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Hệ thống</a>
        </li>
    </ul>
</div>*@

<ul class="menu">
    <li class="nav-item">
        <a class="nav-link">Trang chủ</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown">Hệ thống</a>
        <div class="dropdown-content">
            <a class="dropdown-item" href="#">Nhân viên</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Kho hàng</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Khách hàng</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown">Bán hàng</a>
        <div class="dropdown-content">
            <a class="dropdown-item" href="#">Bán Lẻ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Bán sỉ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Báo giá</a>
        </div>
    </li>
</ul>